@font-face {
    font-family: 'Roboto';
    src: url('src/Roboto-Regular.ttf');
}

body {
  background-color:paleturquoise;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Muli', sans-serif;
  color: blue;
}

.background {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin-top: 30px;
}

#container {
  font-family: 'Roboto', sans-serif;
}