@font-face {
    font-family: 'Muli';
    src: url('src/Muli.ttf');
}

body {
  margin: 0;
  padding: 0;
}

.background {
  background-color:paleturquoise;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#container {
  font-family: 'Muli', sans-serif;
}