@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Bree+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* Side Navigation */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: Amatic SC, sans-serif;
    font-size: 40px;
    color: #959595;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 60px;
    margin-left: 50px;
}

.hamburger {
    font-size: 30px;
    position: fixed;
    margin: 25px;
}

.header-content {
    text-align: center;
}

#main {
    transition: margin-left .5s;
    font-family: 'Open Sans', sans-serif;
}

.content {
    margin: 0 200px;
}

#header-img {
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
}

.header-div {
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.3)), url("../assets/images/headerimg.jpg");
}

h1 {
    font-family: Amatic SC, sans-serif;
    font-size: 7rem;
    font-weight: bold;
    text-align: center;
    margin: 10px, 20px;
    color: rgb(255, 255, 255);
    text-shadow:
        0.05em 0 0.025em black,
        0 0.05em 0.025em black,
        -0.05em 0 0.025em black,
        0 -0.05em 0.025em black,
        -0.05em -0.05em 0.025em black,
        -0.05em 0.05em 0.025em black,
        0.05em -0.05em 0.025em black,
        0.05em 0.05em 0.025em black;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header h2 {
    color: white;
    text-shadow:
        0.05em 0 0.025em black,
        0 0.05em 0.025em black,
        -0.05em 0 0.025em black,
        0 -0.05em 0.025em black,
        -0.05em -0.05em 0.025em black,
        -0.05em 0.05em 0.025em black,
        0.05em -0.05em 0.025em black,
        0.05em 0.05em 0.025em black;
    text-transform: uppercase;
    position: absolute;
    top: 60%;
    left: 50%;
    font-size: 1.8rem;
    transform: translate(-50%, -50%);
}

.about-me-content {
    overflow: hidden;
}

.about-me-content img {
    margin: 0 50px;
    max-width: 50%;
    max-height: 50%;
    float: left;
}

.about-me-content p {
    display: block;
}

.main-container {
    margin: 30px 100px;
    border: 2px solid;
}

.container-with-title-is-centered {
    margin: 10px 20px;
    padding: 30px;
}

.title {
    text-align: center;
    margin: 0 0 20px 0;
    font-family: Amatic SC, sans-serif;
    font-size: 3.2rem;
    font-weight: 700;
    text-shadow: 1px 2px rgb(49, 160, 145);
}

/* Social links */
.links {
    list-style: none;
    display: inline-block;
    font-size: 3rem;
    margin: 0 5px;
    text-shadow:
        0.04em 0 0.025em black,
        0 0.04em 0.025em black,
        -0.04em 0 0.025em black,
        0 -0.04em 0.025em black,
        -0.04em -0.04em 0.025em black,
        -0.04em 0.04em 0.025em black,
        0.04em -0.04em 0.025em black,
        0.04em 0.04em 0.025em black;
}

.fa-linkedin {
    position: absolute;
    top: 70%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.fa-github {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fa-instagram {
    position: absolute;
    top: 70%;
    left: 55%;
    transform: translate(-50%, -50%);
}

.links a i::before {
    color: rgb(255, 255, 255);
}

.links a i::after {
    color: #959595;
}

.project-desc a {
    text-decoration: none;
    color:rgb(128, 176, 207);
}

.experience-content {
    margin: 40px 70px 10px 70px;
}

.experience-tasks {
    margin: 5px 0 30px 0;
}

/* Contact form */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #45aaaa;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #379aa5;
}

textarea {
    font-family: inherit;
}

.contact-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 50px;
}

.contact-form label {
    font-family: 'Open Sans', sans-serif;
}


/* Mobile Screen */
@media screen and (max-width: 1030px) {
    .links {
        font-size: 3em;
        margin: 0 180px;
    }

    h1 {
        top: 40%;
        font-size: 4rem;
    }

    header h2 {
        display: none;
    }

    .content {
        margin: 5px;
    }

    .fa-linkedin {
        top: 80%;
        left: 25%;
    }
    
    .fa-github {
        top: 80%;
        left: 50%;
    }
    
    .fa-instagram {
        top: 80%;
        left: 75%;
    }

    .main-container {
        margin: 10px;
        border: none;
        background-color: rgb(238, 207, 172);
    }

    .about-me-content img {
        margin: 20px;
        max-width: 100%;
        max-height: 100%;
    }
    
    .about-me-content p {
        text-align: center;
    }

    .hamburger {
        font-size: 3rem;
        color:rgb(255, 255, 255);
        position: absolute;
    }
    .sidenav .closebtn {
        font-size: 6rem;
    }

    .title {
        font-family: Amatic SC, sans-serif;
        font-size: 3rem;
        color:rgb(255, 255, 255);
        text-shadow: 2px 2px #000;
    }

    .project-desc {
        margin: 10px;
    }

    .project-desc a {
        color:rgb(255, 255, 255)
    }

    .container-with-title-is-centered {
        margin: 10px;
        padding: 20px;
    }

    .experience-content {
        margin: 20px;
    }

    .contact-form {
        padding: 20px;
    }

    .experience-title {
        margin-top: 20px;
        font-size: 1.2rem;
    }
}